.favorites-container {
    /*background-color: #121212;*/
    /*color: #ffffff;*/
    padding-bottom: 3rem;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1.5rem;
}

.favorite-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    /*color: #fff;*/
    text-transform: uppercase;
    letter-spacing: 1px;
}

.favorites-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Asegura que haya 2 o más columnas */
    gap: 2rem;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 100%;
    padding-bottom: calc(2rem + 3rem); /* 2rem del padding + 40px de margen extra */

}

.favorite-item {
    background-color: #1e1e1e;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
}

.favorite-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.15);
}

.favorite-image {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.favorite-item:hover .favorite-image {
    transform: scale(1.05); /* Zoom in effect */
}

.favorite-info {
    padding: 1rem;
    text-align: center;
    border-radius: 0 0 12px 12px;
    position: absolute;
    top: 0;
    right: 0;
}

.movie-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #fff;
    text-transform: uppercase;
}

.remove-favorite {
    background-color: transparent;
    color: #ffffff; /* Rojo brillante */
    border: 2px solid #ffffff; /* Borde rojo */
    padding: 0.5rem 1rem;
    border-radius: 50px; /* Esquinas redondeadas */
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-favorite:hover {
    background-color: #f92a2a;
    color: #fff; /* Blanco cuando se hace hover */
    border: 2px solid transparent; /* El borde se hace invisible al hacer hover */
    transform: translateY(-3px); /* Le da un pequeño efecto de "flotado" */
}

.remove-favorite:focus {
    outline: none; /* Elimina el contorno por defecto */
    box-shadow: 0 0 0 3px rgba(249, 42, 42, 0.5); /* Efecto de enfoque suave */
}

.remove-favorite svg {
    font-size: 1.2rem; /* Icono más grande */
    transition: transform 0.2s ease;
}

.remove-favorite:hover svg {
    transform: rotate(90deg); /* Rota el icono cuando se hace hover */
}

.empty-message {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #999;
}

@media (min-width: 768px) {

    .favorites-list {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media (min-width: 1024px) {
    .favorites-list {
        padding: 1rem 0rem;
        grid-template-columns: repeat(4, 1fr); /* Añadimos más columnas en pantallas grandes */
    }

    .favorites-container{
        margin-left: 44vh;
      }

    .favorite-title{
        text-align: start;
    }
}


