.about-container {
  margin-top: 1.5rem;
  padding: 0 1rem calc(2rem + 3rem);
}

.about-title {
  text-align: center;
  font-size: var(--fs-2xl);
  margin-bottom: 2rem;
}

.about-section {
  margin-bottom: 3rem;
}

.about-subtitle {
  color: #a0b8ff; 
  font-size: var(--fs-xl);
  margin-bottom: 1.5rem;
}

.about-description {
  color: var(--gray-light); 
  font-size: var(--fs-base);
  line-height: 1.6;
  opacity: 0.9;
}

.about-credit{
  font-size: var(--fs-base);
  transition: all .3s ease-in-out;
}

.tech-title {
  font-size: var(--fs-md);
}

.tech-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  will-change: transform;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.tech-description{
  font-size: var(--fs-sm);
  font-weight: 300;
}

.tech-card:hover {
  transform: translateY(-0.3rem);
  background: linear-gradient(
    135deg,
    rgba(0, 123, 255, 0.12),
    rgba(255, 69, 0, 0.12)
  );
  border-color: rgba(255, 255, 255, 0.3);
}

.tech-icon {
  font-size: var(--fs-2xl);
  margin-bottom: 1rem;
}

/* Colores personalizados para los íconos */
.react { color: #61dafb; }
.css { color: #2965f1; }
.api { color: #ffcc00; }
.router { color: #f76c6c; }
.js { color: #f7df1e; }


.tech-cards {
  display: grid;
  padding: 1rem;
  grid-template-columns: 
  repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 1.5rem;
  justify-content: center; 
}

.about-subtitle.tech{
  text-align: center;
}



@media (min-width: 1024px) and (max-height:1100px){
  .about-container{
    margin-left: 44vh;
  }
}


@media (min-width:1280px){
  .tech-cards{
    grid-template-columns: 
    repeat(auto-fit, minmax(300px, 1fr)); 
  }

  .about-container{
    margin-left: 42vh;
  }
}


@media (min-width:1920px){
  .about-container{
    margin-top: 2rem;
    margin-left: 40vh;
  }
}
