.movie-details {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding: 2rem 1rem;
}

/* Fondo desenfocado */
.movie-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);  
    z-index: -1; 
}

.movie-background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
}

.back-arrow-link {
    display: inline-flex;
    align-items: center;
    font-size: var(--fs-xl);
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
}

.back-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
}

.back-arrow:hover {
    color: #FFFFFF;
    transform: translateX(0.5rem);
    background: rgba(255, 255, 255, 0.4);
}

/* Contenedor principal */
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    padding-bottom: calc(2rem + 3rem); 
}

/* Sección de imagen */
.movie-player {
    width: clamp(12.5rem, 25vw, 22rem); 
    aspect-ratio: 2 / 3;
    margin: 0 auto;
}

.movie-principal{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-save {
    cursor: pointer;
    font-size: var(--fs-lg);
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

.movie-save:focus,
.movie-save:active{
    border: none;
    outline: none;
    padding: 0;
}

.save-icon {
    color: #ffffff;
    font-size: inherit;
    transition: color 0.4s ease, transform .4s ease;
}

.movie-save:active .save-icon {
    transform: scale(1.15);
}

/* Cambia de color si la película está guardada */
.save-icon.saved {
    color: #ffc107; 
}

.movie-poster-details {
    width: 100%;
    opacity: 0.75;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    border-radius: 0.5rem;
    object-fit: cover;
}

/* Información de la película */
.movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.movie-text {
    font-size: var(--fs-base);
    position: relative;
}

.movie-title {
    font-size: var(--fs-xl);
    font-weight: 500;
    color: #fff;
}

.movie-rating {
    font-size: var(--fs-sm);
    color: #ffcc00;
    align-items: center;
    display: flex;
    gap: 0.8rem;
    font-weight: bold;
}

.sr-only{
    font-size: var(--fs-md);
    color: #ccc;
}

.star-rating{
    display: flex;
    gap: 0.4rem;
    font-size: var(--fs-md);
}

.movie-overview {
    font-size: var(--fs-base);
    color: #ccc;
    text-align: start;
    line-height: 1.6;
    margin: 1rem 0;
}

.movie-button {
    display: inline-flex;
    background: linear-gradient(135deg, #ff3d00, #ff7300);
    color: #ffffff;
    font-size: var(--fs-sm);
    font-weight: bold;
    padding: 0.8rem 1.2rem;
    border-radius: 0.8rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    gap: 0.5rem;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(255, 61, 0, 0.3);
    letter-spacing: 1px;
}

.movie-icon{
    display: flex;
    font-size: var(--fs-base);
    justify-content: center;
    align-items: center;
}

.movie-button:focus{
    outline: none;
}

.movie-button:hover {
    background: linear-gradient(135deg, #ff7300, #ff3d00);
    box-shadow: 0px 6px 15px rgba(255, 61, 0, 0.5);
    transform: translateY(-2px);
}

.movie-button:active {
    transform: scale(0.95);
}

.movie-actors {
    font-size: var(--fs-lg);
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    color: #fff;
}

.movie-actors-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    color: #ffffff;
}

.movie-actors-list .movie-actor {
    font-size: var(--fs-base);
    background: rgba(255, 255, 255, 0.1);
    border: 1.2px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: all .3s ease;
}

.movie-actor:hover{
    opacity: 0.8;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Cuando el modal está activo */
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Contenedor del modal */
.modal-content {
    width: 90%;
    max-width: 50rem;
    background: #1c1c1e;
    border-radius: 1rem;
    padding: 2.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    font-size: var(--fs-base);
    align-items: center;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Cuando el modal está activo */
.modal-overlay.active .modal-content {
    transform: scale(1);
    opacity: 1;
}

.close-modal {
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    font-size: var(--fs-xl);
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.close-modal:focus{
    outline: none;
}

.close-modal:hover {
    color: #ff3d00;
    transform: rotate(90deg);
}

/* Contenedor del video */
.modal-video-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(241, 234, 232, 0.3);
}

.modal-icon {
    font-size: inherit;
}

.modal-video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: inherit;
}



/** MEDIA QUERYS **/
@media (min-width: 768px) {
    .movie-details{
        padding: 2rem 2.5rem;
    }
}


@media (min-width: 1024px) and (max-height:1100px){
    .movie-principal{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .modal-content {
        width: 70%;
    }

    .wrapper {
        flex-direction: row;
        align-items: flex-start;
    }

    .movie-text {
        text-align: left;
    }

    .movie-actors-list {
        justify-content: flex-start;
    }

    .modal-content {
        width: 50%;
    }

   .movie-background {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);  
    z-index: -1;
    }

    .movie-background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    }

    .movie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }
    
    .movie-details {
        max-width: 100%;
        margin-left: 40vh; 
        padding: 2rem;
    }

    .wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 0; 
    }

    .movie-text {
        text-align: left;
    }

    .movie-actors-list {
        justify-content: flex-start;
    }
}


@media (min-width:1280px){
    .movie-details {
        padding: 4.5rem 2rem;
    }
}


@media (min-width:1920px){
    .movie-details{
        margin-left: 38vh;
        padding: 4.5rem 2.5rem;
    }
}
