.nav{
  padding: 1rem 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-weight: 900;
  color: #FFC107;
  font-size: var(--fs-md);
  transition: color .4s ease-in-out;
}

.mode-toggle {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.2rem;
  height: 1.3rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: #fff;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2272FF;
}

input:checked + .slider:before {
  transform: translateX(14px);
}


/** MEDIA QUERYS **/
@media (min-width:1024px) and (max-height:900px){
 .logo{
  display: none;
 }

 .mode-toggle{
  position: absolute;
  right: 1rem;
  top: 1rem;
 }
}
