.navbar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.65rem 0;
  z-index: 1000;
  background-color: var(--navbar-bg);
}

.navbar-logo{
  display: none;
  font-weight: 900;
  color: #FFC107;
  font-size: var(--fs-lg);
  transition: color .4s ease-in-out;
}

.navbar-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-link{
  color:  var(--navbar-link);
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent; /* quita el flash azul en móviles */
  border: none;
  font-size: var(--fs-base);
  text-decoration: none;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: all .3s ease; 
}

.navbar-link:focus-visible,
.navbar-link:focus,
.navbar-link:hover {
  outline: none;
  background-color: transparent;
  color: var(--navbar-link-hover);
}

.navbar-icon {
  font-size: var(--fs-md);
}

.navbar-icon:focus-visible,
.navbar-icon:focus,
.navbar-icon:hover {
  outline: none;
  background-color: transparent;
  user-select: none;  
  -webkit-user-select: none; 
}

.navbar-link.active{
  color: var(--navbar-link-active); 
}

.navbar-link:active{
  outline: none;
  background: transparent;
}

.navbar-description{
  display: none;
}


/** MEDIA QUERYS **/
@media (min-width:768px) {
  .navbar-icon {
    font-size: var(--fs-base);
  }
}

@media (min-width:1024px) and (max-height:800px){
  .navbar {
    top: 0;
    display: flex;
    padding-left: 4rem;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    width: 42vh; 
    height: 100vh; 
    border-radius: 0; 
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.2); 
  }

  .navbar-logo{
    position: absolute;
    top: 2rem;
    display: initial;
  }
  
  .navbar-list {
    margin-top: 2rem;
    align-items: initial;
    flex-direction: column; 
    gap: 4rem; 
  }
  
  .navbar-link {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  
  .navbar-link span {
    margin-top: 0.5rem;
    color: var(--navbar-link);
  }
  
  .navbar-link:hover span {
    color: var(--navbar-link-hover); 
  }

  .navbar-description{
    display: initial;
    font-weight: 400;
  }
}

@media (min-width:1024px) and (min-height:1000px){
  .navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 1000;
    background-color: var(--bg-primary);
  }

  .navbar-logo{
    display: none;
    transition: color .4s ease-in-out;
  }

  .navbar-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navbar-link:active{
    outline: none;
    background: transparent;
  }

  .navbar-description{
    display: none;
  }
}

@media (min-width:1025px){
  .navbar {
    top: 0;
    display: flex;
    padding-left: 4rem;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    width: 42vh; 
    height: 100vh; 
    border-radius: 0; 
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.2); 
  }

  .navbar-logo{
    position: absolute;
    top: 2rem;
    display: initial;
  }
  
  .navbar-list {
    margin-top: 2rem;
    align-items: initial;
    flex-direction: column; 
    gap: 4rem; 
  }
  
  .navbar-link {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  
  .navbar-link span {
    margin-top: 0.5rem;
    color: var(--navbar-link);
  }
  
  .navbar-link:hover span {
    color: var(--navbar-link-hover); 
  }

  .navbar-description{
    display: initial;
    font-weight: 400;
  }
}

@media (min-width:1280px){
  .navbar {
    width: 40vh; 
  }
}

@media (min-width:1920px){
  .navbar {
    padding-left: 5rem;
    width: 38vh; 
  }

  .navbar-list{
    gap: 5rem;
  }

  .navbar-logo{
    top: 3rem;
  }
}