@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-heading: "Montserrat", sans-serif;
  --font-body:"Roboto", sans-serif;

  --fx-xs: clamp(0.64rem, 0.608rem + 0.16vw, 0.8rem);
  --fs-sm: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
  --fs-base: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  --fs-md: clamp(1.25rem, 1.1875rem + 0.3125vw, 1.5625rem);
  --fs-lg: clamp(1.5625rem, 1.4844rem + 0.3906vw, 1.9531rem);
  --fs-xl: clamp(1.9531rem, 1.8555rem + 0.4883vw, 2.4414rem);
  --fs-2xl: clamp(2.4414rem, 2.3193rem + 0.6104vw, 3.0518rem);
  --fs-3xl: clamp(3.0518rem, 2.8992rem + 0.7629vw, 3.8147rem);
}

:root[data-theme="dark"] {
  --bg-primary: #0F1419;
  --bg-secondary: #1C2127;

  --text-primary: #F3F4F6;
  --text-secondary: #9CA3AF;
  --text-muted: #6B7280;

  --accent: #E50914;
  --accent-hover: #B91C1C;
  --accent-secondary: #F59E0B;
  
  --navbar-bg: #0F1419;
  --navbar-link: #808080;
  --navbar-link-active: #F3F4F6;
  --navbar-link-hover: #F3F4F6;
  --navbar-logo: #FFC107;
  
  --border-color: #374151;
  --divider: rgba(255, 255, 255, 0.08);
  
  --color-white: #ffffff;
}

:root[data-theme="light"] {
  --bg-primary: #FFFFFF;
  --bg-secondary: #F9FAFB;

  --text-primary: #111827;
  --text-secondary: #4B5563;
  --text-muted: #9CA3AF;
  
  --accent: #DC2626;
  --accent-hover: #991B1B;
  --accent-secondary: #D97706;

  --navbar-bg: #FFFFFF;
  --navbar-link: #6B7280;
  --navbar-link-active: #111827;
  --navbar-link-hover: #111827;
  --navbar-logo: #DC2626;
  
  --border-color: #E5E7EB;
  --divider: rgba(0, 0, 0, 0.08);
  
}

body {
  color: var(--text-primary);
  background: var(--bg-primary);
  line-height: 1.6;
  font-family: var(--font-body);
  transition: background-color 0.1s ease, color 0.1s ease;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--text-primary);
  transition: background-color .25s ease, color .25s ease;
}

ul{
  list-style: none;
}

button {
  border-radius: 1rem;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  outline: none;
  font-family: var(--font-heading);
  -webkit-tap-highlight-color: transparent; /* quita el flash azul en móviles */
  background: var(--accent);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .25s ease, color .25s ease;
}

button:hover {
  background-color: var(--accent-hover);
}

button:focus,
button:focus-visible{
  outline: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  margin-inline: 1.5rem;
}



@media screen and (max-width:320px) {
  .container {
    margin-inline: 1rem;
  }
}

@media screen and (min-width:1150px) {
  .container {
    margin-inline: auto;
    max-width: 100%;
  }
}


